# .gitignore

# Dependencies
/node_modules
/backend/node_modules
/frontend/node_modules
/backend/public

# Env files
.env
/backend/.env
/frontend/.env
/backend/config/config.env
/backend/seed.js
/backend/ADMIN_API.md

# Build files
/frontend/dist
/frontend/.DS_Store

DEPLOYMENT_SUMMARY.md
